@charset "UTF-8";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 12px;
  font-family: 'Playfair Display', serif;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

ul.horizontal-list {
    list-style-type: none;
    padding: 0;
}

ul.horizontal-list li {
    display: inline;
    position: relative;
    margin-right: 0.5em;
}

@media (max-width: 800px) {
  header nav {
    flex-direction: column;
  }

  header nav ul {
    margin-top: 0;
  }
}

a.button {
  color: #1d1d1d;
  color: var(--form-text);
  background-color: #efefef;
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

@media (prefers-color-scheme: dark) {

  a.button {
  background-color: #161f27;
  background-color: var(--background);
  }
}

@media (prefers-color-scheme: dark) {

  a.button {
  color: #fff;
  color: var(--form-text);
  }
}