<header>
    <nav>
        <h2><i class="fa-solid fa-mountain"></i> <a href="/">{{ .Site.Title }}</a></h2>
        <ul class="horizontal-list">
            {{ range .Site.Menus.main }}
            <li>
                {{ if .Pre }}
                {{ $icon := printf "<i class=\"fa-solid fa-%s\"></i> " .Pre | safeHTML }}
                {{ $icon }}
                {{ end }}
                <a href="{{ .URL }}">
                {{ $text := print .Name | safeHTML }}
                {{ $text }}
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>